#id {
    background-color: teal;
}

html .class {
    background-color: tomato;
}

.class {
    background-color: goldenrod;
}

html body {
    background-color: aqua;
}

body {
    background-color: gold;
}